@model Assignment5_Voglewede_Woods.Models.GenreViewModel


@{
    ViewData["Title"] = "Index";
}



<form asp-controller="Music_Inventory" asp-action="Index" method="get">
    <p>
        
        Genre: <select asp-for="MusicGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Performer: <select asp-for="MusicPerformer" asp-items="Model.Performers">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">

<br/>


    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].AlbumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].Performer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music![0].Year)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Music!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Performer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Year)
            </td>
            
            
        </tr>
}
    </tbody>
</table>
